<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Koen_AcademyBlogAdminhtml::post"
            title="Academy Blog Posts"
            module="Koen_AcademyBlogAdminhtml"
            parent="Magento_Backend::content_elements"
            action="koen_academy_blog/post/index"
            sortOrder="40"
            resource="Koen_AcademyBlogAdminhtml::Post"/>
    </menu>
</config>
