<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="koen_academy_blog" id="koen_academy_blog">
            <module before="Magento_Backend" name="Koen_AcademyBlogAdminhtml"/>
        </route>
    </router>
</config>
